repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v2.3.0'
    hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: '21.7b0'
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^(async_upnp_client|tests)/.+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.1.0'
    hooks:
      - id: codespell
        args:
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        exclude: ^tests/fixtures/
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.9.2'
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.6.0
          - flake8-noqa==1.1.0
          - pydocstyle==6.1.1
        files: ^(async_upnp_client|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: '5.9.2'
    hooks:
      - id: isort
        args:
          - --profile=black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.910'
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        additional_dependencies: [aiohttp>=3.7.4]
        files: ^async_upnp_client/.+\.py$
