repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.4.0'
    hooks:
    - id: check-ast
    - id: check-case-conflict
    - id: check-symlinks
    #- id: check-xml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: trailing-whitespace
      exclude: setup.cfg
  - repo: https://github.com/psf/black
    rev: '23.1.0'
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
        files: ^(async_upnp_client|tests)/.+\.py$
  - repo: https://github.com/codespell-project/codespell
    rev: 'v2.2.4'
    hooks:
      - id: codespell
        args:
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
        files: ^(async_upnp_client|tests)/.+\.py$
  - repo: https://github.com/PyCQA/flake8
    rev: '6.0.0'
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings~=1.7.0
          - pydocstyle~=6.3.0
        files: ^(async_upnp_client|tests)/.+\.py$
  - repo: https://github.com/PyCQA/pylint
    rev: 'v2.17.0'
    hooks:
      - id: pylint
        additional_dependencies:
          - pytest~=7.2.2
          - voluptuous~=0.12.1
          - aiohttp~=3.7.4
          - python-didl-lite~=1.3.2
          - defusedxml~=0.6.0
        files: ^(async_upnp_client|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: '5.12.0'
    hooks:
      - id: isort
        args:
          - --profile=black
        files: ^(async_upnp_client|tests)/.+\.py$
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.1.1'
    hooks:
      - id: mypy
        args: [--ignore-missing-imports]
        additional_dependencies:
          - aiohttp>=3.7.4
          - pytest~=7.2.2
        files: ^(async_upnp_client|tests)/.+\.py$
