language: python
sudo: false
matrix:
  fast_finish: true
  include:
    - python: "3.5.3"
      env: TOXENV=py35
    - python: "3.6"
      env: TOXENV=py36
    - python: "3.6"
      env: TOXENV=flake8
    - python: "3.6"
      env: TOXENV=pylint
    - python: "3.6"
      env: TOXENV=pydocstyle
install: pip install -U tox
script: tox
